.section-login{
    width: 100%;
    height: 100vh;
    background: #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 10px;
}
.divModal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(170, 170, 170);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50 10 C 30 10, 30 50, 50 50 C 70 50, 70 90, 50 90 C 30 90, 30 50, 50 50" stroke="black" fill="none" /></svg>');
  background-repeat: repeat;
  background-size: 50px 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divStyle{
  background: (0);
  width: 700px;
  height: auto;
  margin: 85vh;
  padding: 40px;
  border-radius: 5px;
  background-color: #e1e8ec;
  text-align:center;
  font-family: Courier New;
  font-size: 12px;
  font-weight:'300';
}
.titleStyle{
  font-size: 33px;
  width: 100%;
  color: rgb(44, 44, 44);
  margin-bottom: 5%;
}
.inputStyle{
  width: 100%;
  background-color: #e1e8ec;
  margin-top: 5%;
  border-radius: 5px;
  padding: 13px;
  margin-bottom: -2%;
  font-size: 15px;
  border: 2px solid rgb(145, 145, 145);
}
.inputStyle:focus{
  background-color: #e1e8ec; 
  border: 2px solid rgb(145, 145, 145); 
  outline: none; 
  color: black;
}
.inputStyleP{
  width: 100%;
  background-color: #e1e8ec;
  margin-top: 5%;
  border-radius: 5px;
  padding: 13px;
  margin-bottom: 2%;
  font-size: 15px;
  border: 2px solid rgb(145, 145, 145);
}
.inputStyleP:focus{
  background-color: #e1e8ec; 
  border: 2px solid rgb(145, 145, 145); 
  outline: none; 
  color: black;
}
.error {
  transition: .5s;
  border: 2px solid red;
}
.divStyle .entrarStyle{
  margin-top: 7%;
  width: 98%;
  padding: 5px 0;
  background: rgb(110, 175, 67);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: -3px;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: white;

  transition: .2s;
}
.entrarStyle:hover{
  background: rgb(85, 155, 45);
}
.social-networks{
  height: 10%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-networks ion-icon{
  font-size: 27px;
  margin-right: 15%;
}
.social-networks .red-f{
  width: 48%;
  height: 110%;
  background: #428BCA;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: -2em;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  transition: .2s;
}
.social-networks .red-f:hover{
  background: #336a9b;
}

.social-networks .red-g{
  width: 48%;
  height: 110%;
  background: #D34C3D;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: -2em;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  transition: .2s;
}
.social-networks .red-g img{
  border-radius: 20px;
  width: 27%;
  margin-right: 13%;
}
.social-networks .red-g:hover{
  background: #a53a2e;
}
.social-networks button div{
  margin-top: 2%;
}
.divStyle h5{
  margin-top: 13%;
  color: #7a7a7a;
  font-size: 11px;
  font-family: 'Arial', Courier, monospace;
}










.players-online{
    width: 25%;
    height: 100vh;
}
.players-online .title{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-online .list{
    margin-top: -20px;
    margin: 20px;
}
.player{
    display: flex;
    height: 2.5vh;
}
.player h3{
    margin-right: 3px;
}


.game{
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.level-container {
  background-color: #8C84B8;
  position: relative;
  width: 40%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-top: -7%;
}
.izquierdo {
  width: 0;
  height: 0;
  border-left: 40px solid #c2c2c2;
  border-top: 28px solid transparent; 
  border-bottom: 28px solid transparent;
}
.derecho{
  width: 0;
  height: 0;
  border-right: 40px solid #c2c2c2;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
}
.level {
  width: 45%; 
  height: 100%;
  background-color: #8C84B8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.level span{
  font-size: 22px;
}




.game .contador{
  font-size: 20px;
  font-weight: 800;
  margin-bottom: -4em;
}





.start-content{
  background-color: #16387B;
  width: 28%;
  height: 12%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.start-content .start-game{
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(145deg, #6eaf43, #8ad360); /* Gradiente para el color de base */
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
  inset 0 0 10px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  padding: 8px 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: rgb(255, 250, 236);
  transition: transform 0.1s;
}
.start-content .start-game::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0%;
  width: 20%;
  height: 15%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  filter: blur(7px);
  transform: rotate(-30deg);
  pointer-events: none;
}
.start-content .start-game::after {
  content: '';
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 20%;
  height: 15%;
  background: #4b6e36;
  border-radius: 10px;
  filter: blur(8px);
  transform: rotate(-45deg);
  pointer-events: none;
}
.start-content .start-game:hover {
  transform: scale(1.01);
  background: linear-gradient(145deg, #7fdd40, #8fe45e);
}
.start-content .start-game:active {
  transform: scale(1); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
              inset 0 0 10px rgba(255, 255, 255, 0.2);
}
.start-content .start-game:hover{
  background-color: #8be74d;
}
.start-content .triangulo{
  width: 0;
  height: 0;
  border-left: 30px solid #E3F2FD;
  border-top: 17px solid transparent; 
  border-bottom: 17px solid transparent;;
}






.wrapper {
  width: auto;
  padding: 20px 30px;
  border-radius: 20px;
  background: #141414;
}  
.piano-keys {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
}
.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
}
  .piano-keys .black {
    z-index: 2;
    width: 44px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
  }
  .piano-keys .black.pressed {
    box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
    background:linear-gradient(to bottom, #000, #434343);
  }
  .piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
  }
  .piano-keys .white.pressed {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom, #fff 0%, #eee 100%);
  }
  .piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
  }
  .piano-keys .key.hide span {
    display: none;
  }
  .piano-keys .black span {
    bottom: 13px;
    color: #888888;
  }
  @media screen and (max-width: 815px) {
    .wrapper {
      padding: 25px;
    }
    header {
      flex-direction: column;
    }
    header :where(h2, .column) {
      margin-bottom: 13px;
    }
    .piano-keys {
      margin-top: 20px;
    }
    .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
      display: none;
    }
    .piano-keys .black {
      height: 100px;
      width: 40px;
      margin: 0 -20px 0 -20px;
    }
    .piano-keys .white {
      height: 180px;
      width: 60px;
    }
  }
  @media screen and (max-width: 615px) {
    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key :nth-child(17) {
      display: none;
    }
    .piano-keys .white {
      width: 60px;
    }
  }







.lives-players{
    width: 25%;
    height: 100vh;
}
.lives-players .lives{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lives-players .lives .content-tempo{
  position: relative;
  width: 50%;
  height: 45px;
  padding-left: 25px;
  background-color: #16387B;
  font-size: 25px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  color: #272013;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;

  border-radius: 20px;
}
.lives-players .lives .content-tempo .tempo{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  
  border-radius: 20px;
  background-color: #8C84B8;
  margin-left: -11%;
  padding-left: 22px;
}
.lives-players .lives object{
  position: relative;
  width: 100%;
}
.lives-players .lives .recharger{
  position: relative;
  width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: -15%;
}
.lives-players .lives .recharger .recharger-lives {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #272013;
  padding: 10px;
  border-radius: 5px;
  position:relative;
  margin-left: 30%;

  z-index: 2;
}

.lives-players .lives .recharger .recharger-content {
  margin-left: -67%;
  margin-bottom: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0; 
}
.plus-sign {
  position: absolute;
  font-size: 50px;
  color: white;
  opacity: 1;
  animation: slideAndFade 1.5s ease-in-out forwards;
}
@keyframes slideAndFade {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-30px);
      opacity: 0;
  }
}
.lives-players .player-score{
  color: white;
  position: relative;
  background-color: rgb(109, 85, 80);
  margin: 4px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-shadow: 
  0px 1px 0px rgba(0, 0, 0, 0.5),  
  -0px -0px 2px rgba(0, 0, 0, 0.5);
}
.lives-players .player-score .profile-picture {
  width: 50px;
  height: 50px;
  overflow: hidden; 
}
.lives-players .player-score .profile-picture img {
  width: 100%;
  height: auto; 
  display: block;
}
.lives-players .player-score .profile-info{
  position: relative;
  margin-left: 3%;
}
.lives-players .player-score .profile-info h3{
  margin-bottom: 6px;
}
.lives-players .player-score .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}
.lives-players .player-score .profile-info span{
  color: #c2c2c2;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 
  0px 1px 0px rgba(0, 0, 0, 0.5),  
  -0px -0px 2px rgba(0, 0, 0, 0.5);
}
.lives-players .player-score .profile-info .on{
  color: #d89b18;
  text-shadow: 
    0px 1px 0px rgba(0, 0, 0, 0.5),  
    -0px -0px 2px rgba(0, 0, 0, 0.5); /* Sombras para simular un borde */
}
.player-list {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.scroll-container {
  margin-right: 15px;
  width: 70%;
  height: 300px;
  overflow: hidden; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.041) 10%, #0000007e 100%);
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #bd1d1d00) 1;
  border-image-slice: 1;
}

















